body {
    font-family: avenir, sans-serif, Arial;
}

h1 {
    font-weight: 100;
    margin: 15% 25% 0% 25%;
}

p {
    font-size: 13px;
    font-weight: 600;
    color: gray;
    letter-spacing: 0.1px;
    margin-top: 0px;
}

.container {
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
}

.square {
    border-radius: 5%;
    margin: 1.66%;
    width: 20%;
    height: 90px;
    float: left;
    border: 1px solid lightgray;
}